<h2 class="title">Carrinho</h2>
<ng-template #semProduto><h1 class="sem-produto">Não existe nenhum item no carrinho!</h1></ng-template>
<div *ngIf="items.length > 0; else semProduto" class="carrinho-container">
    <div *ngFor="let item of items" class="carrinho-item">
        <div class="img-container">
        <img [src]="item.img" [alt]="item.name">
    </div>
        <p class="name">{{item.name}}</p>
        <p class="price">{{item.price | currency : 'BRL'}}</p>
        <span class="quantity">
            Quantidade: 
            <input type="number" [value]="item.qtd" (input)="handleQtdChange($event, item.id)" />
        </span>
        <button (click)="removeItem(item.id)" class="remove-btn"><i class="fa-solid fa-xmark"></i></button>
    </div>
    
    <div class="comprar">
        <div class="line"></div>
    <p class="total">Total: {{getTotal() | currency : 'BRL'}}</p>
    <button class="buy-btn">Comprar</button>
</div>
</div>
