:host{
    display: block;
    position: relative;
    min-height: 100%;
    background-color: #3d3535;
    color: rgb(241, 241, 241);
}

.container{
    padding: 5% 10%;
    padding-bottom: 150px;
    
}